---
layout: layout.liquid
title: Polaroid Cloud
---
<main>
    <section class="hero">
    <h2>FILM TO PHONE</h2>
    </section>
    <section class="d-body">
        <h3>Any cloud, anytime.</h3>
            <p>With Cloud, you can sync your photos to you favorite cloud service while still enjoying the instant printing you've come to expect from Polaroid. Using our special instant photo paper, your image is uploaded to the web and a QR code is generated and printed with the instant photo. Perfect for sharing with your friends and family.</p>

        <h3>Easy, chessy!</h3>
            <ul>
                <li class="wf">Connect your Polaroid to a WiFi network</li>
                <li class="cd">Configure you favorite cloud</li>
                <li class="qr">Point, shoot, and print your QR-tgged photo</li>
                <li class="pf">Share your physical and digital photos with friends and family</li>
            </ul>

        <h3>Be the first to know.</h3>

        <div class="e-contain">
            <input type="text" placeholder="Enter your email address to recieve updates" >
            <button class="c-button">
                KEEP IN TOUCH
            </button>
        </div>
    </section>
</main>