---
layout: layout.liquid
title: 11ty Boilerplate
---
<h3>Polaroid Cloud</h2>

<h1>FILM TO PHONE</h1>
<img alt="PolaroidGO" src="/images/PolaroidGo.svg">
<h2>Any cloud, anytime.</h2>
<p>With Cloud, you can sync your photos to you favorite cloud service while still enjoying the instant printing you've come to expect from Polaroid. Using our special instant photo paper, your image is uploaded to the web and a QR code is generated and printed with the instant photo. Perfect for sharing with your friends and family.</p>

<h2>Easy, chessy!</h2>
<li>Connect your Polaroid to a WiFi network</li>
<li>Configure you favorite cloud</li>
<li>Point, shoot, and print your QR-tgged photo</li>
<li>SHare your physical and digital photos with friends and family</li>

<h2>Be the first to know.</h2>
<div>
    <div class="e-contain">
        <p>Enter your email address to recieve updates</p>
    </div>
    <button>
        <p>KEEP IN TOUCH</p>
    </button>
</div>