:root {
    --text-color:#424242;
    --background-color: #E9E9E9;
    --button-color: #FF3F3C;
    --pfont-size: 1.4em;
    --subfont-size: 3em;
    --pcfont-size: 1.6em;
    --fweight: 800;
}

body {
    font-family: "Inter", sans-serif;
    background: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}
header {
    padding: 20px;
    margin-bottom: 100px;
}

header h1 {
    margin: 0;
    font-weight: 600;
}

main {
    background: url('/images/PolaroidGo.svg') no-repeat center 250px;
    margin: 0 auto;
    width: 1000px;
}

.hero {
    text-align: center;
    min-height: 825px;
}

.d-body {
    text-align: center;
}

p {
    font-size: var(--pfont-size);
    margin: auto;
    text-align: left;
}

h2 {
    font-weight: var(--fweight);
    font-size: 9em;
    line-height: 1em;
    margin: 0;
}

h3 {
    font-weight: var(--fweight);
    font-size: var(--subfont-size);
}

.e-contain {
    margin: 0 auto;
    width: 500px;
    border-radius: 20px;
    padding: 20px;
    background-color: #E2E2E2;
}

input[type="text"] {
    height: 40px;
    width: 300px;
    padding: 10px;
}

.c-button {
    background-color: var(--button-color);
    border: none;
    color: #FFFFFF;
    padding: 24px;
}

ul {
    padding: 0;
}

.d-body ul li {
    text-align: left;
    list-style-type: none;
    margin: 10px 0;
    padding: 0 0 0 60px;
    font-size: var(--pfont-size);
}

.d-body ul li.wf {
    background: url('/images/wifi.svg') no-repeat center left;
}

.d-body ul li.cd {
    background: url('/images/cloud.svg') no-repeat center left;
}

.d-body ul li.qr {
    background: url('/images/qrcode.svg') no-repeat center left;
}

.d-body ul li.pf {
    background: url('/images/photo-film.svg') no-repeat center left;
}




