:root {
    --text-color:#424242;
    --pfont-size: 1.4em;
    --subfont-size: 2em;
    --pcfont-size: 1.6;
}

body {
    font-family: "Inter", sans-serif;
    color: #EAE8FF;
    background: #E9E9E9;
    padding: 0 300px;
    text-align: center;
}

h1 {
    color: var(--text-color);
    font-size: 8em;
    letter-spacing: -2px;
}

p {
    color: var(--text-color);
    font-size: var(--pfont-size);
}

h2{
    color: var(--text-color);
    font-size: var(--subfont-size);
}

h3 {
    color: var(--text-color);
    font-size: var(--pcfont-size);
}

li{
    list-style-type: none;
    color: var(--text-color);
    font-size: var(--pfont-size);
}
