:root {
    --text-color:#424242;
    --pfont-size: 1.4em;
    --subfont-size: 3em;
    --pcfont-size: 1.6em;
    --fweight: 800;
}

body {
    font-family: "Inter", sans-serif;
    background: #E9E9E9;
    margin: 0;
    padding: 0;
}
header {
    padding: 20px;
    margin-bottom: 100px;
}
h1 {
    color: var(--text-color);
    font-size: var(--pcfont-size);
    letter-spacing: -2px;
}

main {
    margin: 0 auto;
    width: 1000px;
    background: url('PolaroidGo.svg') no-repeat center 100px;
}

p {
    color: var(--text-color);
    font-size: var(--pfont-size);
    margin: auto;
    text-align: left;
}

h2 {
    font-weight: var(--fweight);
    color: var(--text-color);
    font-size: 6em;
    text-align: center;
    min-height: 800px;
}

h3 {
    font-weight: var(--fweight);
    color: var(--text-color);
    font-size: var(--subfont-size);
}

.d-body {
    text-align: center;
}

li {
    list-style-image: url('.svg');
    color: var(--text-color);
    font-size: var(--pfont-size);
    text-align: left;
}
.e-contain {
    width: 500px;
    border-radius: 20px;
    padding: 20px;
    background-color: #E2E2E2;
}

input[type="text"] {
    height: 40px;
    width: 300px;
    padding: 10px;
}

.c-button {
    background-color: #FF3F3C;
    border: none;
    color: #FFFFFF;
    padding: 24px;
}


